/*
  1. Position
  2. Box model
  3. Typography
  4. Visual
  5. Other
*/

:root {
  /*Colors*/
  --bitcoinOrange: #F7931A;
  --softOrange: #FFE9D5;
  --secondaryBlue: #1A9AF7;
  --softBlue: #E7F5FF;
  --warmBlack: #201E1C;
  --black: #282623;
  --grey: #BABABA;
  --offWhite: #FAF8F7;
  --justWhite: #FFF;
  --shadowWhite: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: 100%;
  min-inline-size: 32rem;
  block-size: 33.4rem;
  text-align: center;
  background: linear-gradient(
    207.8deg, #201E1C 16.69%,
    #F7931A 100%
  );
}

header img {
  inline-size: 15.1rem;
  block-size: 2.4rem;
  align-self: center;
}

.header__title-container {
  inline-size: 90%;
  min-inline-size: 28.8rem;
  max-inline-size: 90rem;
  margin-block-start: 3rem;
  text-align: center;
  align-self: center;
}

.header__title-container h1 {
  font-size: 2.4rem;
  color: var(--justWhite);
  font-weight: bold;
  line-height: 2.6rem;
}

.header__title-container p {
  margin-block-start: 2.5rem;
  font-size: 1.4rem;
  color: var(--softOrange);
  font-weight: 500;
  line-height: 1.8rem;
}

.header__title-container .header__button {
  position: absolute;
  top: 27rem;
  left: calc(50% - 115px);
  display: block;
  margin-block-start: 3.5rem;
  padding: 1.5rem;
  inline-size: 22.9rem;
  block-size: 4.8rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
  background-color: var(--offWhite);
  /* Shadow */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, .16);
  border: none;
  border-radius: .5rem;
}

.header__button span {
  display: inline-block;
  inline-size: 13px;
  block-size: 8px;
  margin-inline-start: 10px;
  background-image: url('../assets/icons/down-arrow.svg');
}

main {
  inline-size: 100%;
  block-size: auto;
  background-color: var(--offWhite);
}

.main-exchange-container {
  inline-size: 100%;
  block-size: auto;
  padding-block-start: 80px;
  padding-block-end: 60px;
  text-align: center;
}

.main-exchange-container__title {
  inline-size: 90%;
  min-inline-size: 28.8rem;
  max-inline-size: 90rem;
  margin: 0 auto;
}

.main-exchange-container .backgroundImg {
  inline-size: 20rem;
  block-size: 20rem;
  margin: 0 auto;
  margin-block-end: 5rem;
  background-image: url('../assets/img/bitcoin.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container h2 {
  margin-block-end: 3rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main-exchange-container p {
  margin-block-end: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.main-tables-container {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.main-tables-container::-webkit-scrollbar {
  display: none;  /* Ocultar scroll */
}

.main-currency-table,
.main-currency-table--commissions {
  margin: 0 15%;
  scroll-snap-align: center;
}

.main-currency-table {
  inline-size: 70%;
  min-inline-size: 23.5rem;
  font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table__title {
  margin-block-start: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoinOrange);
}

.main-currency-table--commissions .currency-table__title {
  color: var(--secondaryBlue);
}

.currency-table__container {
  inline-size: 90%;
  min-inline-size: 23rem;
  max-inline-size: 30rem;
  margin: 0 auto;
}

.currency-table__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  margin-block-start: 1rem;
  margin-block-end: 1.6rem;
  background-color: var(--justWhite);
  border-radius: .8rem;
  border: 1px solid var(--offWhite);
}

.currency-table__container div {
  display: flex;
  align-items: center;
  block-size: 4rem;
  padding: 1.2rem;
  border-top: 1px solid var(--offWhite);
  border-left: 1px solid var(--offWhite);
}

.currency-table__container p {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--grey);
}

.currency-table__container .table--right p {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.8rem;
  color: #757575;
}

.currency-table__container .down,
.currency-table__container .up {
  display: inline-block;
  inline-size: 1.5rem;
  block-size: 1.5rem;
  margin-inline-start: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table__container .down {
  background-image: url('../assets/icons/trending-down.svg');
}

.currency-table__container .up {
  background-image: url('../assets/icons/trending-up.svg');
}

.currency-table__date {
  inline-size: 19rem;
  block-size: 3rem;
  margin: 0 auto;
  padding: .8rem;
  background-color: var(--softOrange);
  border-radius: .8rem;
}

.main-currency-table--commissions .currency-table__date {
  background-color: var(--softBlue);
}

.currency-table__date p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--warmBlack);
}

.main-product-detail {
  position: relative;
  inline-size: 100%;
  min-inline-size: 32rem;
  block-size: auto;
  padding: 2rem 1rem 3.5rem;
  background-color: var(--warmBlack);
}

.product-details__batata-isologo {
  position: absolute;
  top: -1rem;
  left: calc(50% - 2rem);
  inline-size: 4rem;
  block-size: 2.5rem;
  background-image: url('../assets/icons/batata.svg');
}

.product-details__title {
  inline-size: 90%;
  min-inline-size: 28.8rem;
  block-size: auto;
  margin: 0 auto;
  margin-block-start: 4rem;
  text-align: center;
}

.product-details__title h2 {
  margin-block-end: 2.4rem;
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: var(--justWhite);
}

.product-details__title p {
  margin-block-end: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product-details__card {
  inline-size: 90%;
  min-inline-size: 28.8rem;
  max-inline-size: 40rem;
  min-block-size: 15rem;
  margin: 0 auto 1.5rem;
  padding: 1.5rem;
  background-color: var(--black);
  border-radius: .4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .16);
}

.product-details__card .product-details__icon {
  display: inline-block;
  inline-size: 2rem;
  block-size: 2rem;
  margin-block-end: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-details__card .clock {
  background-image: url('../assets/icons/clock.svg');
}

.product-details__card .eye {
  background-image: url('../assets/icons/eye.svg');
}

.product-details__card .dollar-sign {
  background-image: url('../assets/icons/dollar-sign.svg');
}

.product-details__card .check-circle {
  background-image: url('../assets/icons/check-circle.svg');
}

.product__card-title {
  margin-block-end: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--justWhite);
}

.product__card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.bitcoin-img-container {
  inline-size: 100%;
  min-inline-size: 32rem;
  height: 50vh;
  text-align: center;
  background-image: url('../assets/img/bitcoinbaby2x.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bitcoin-img-container h2 {
  padding-block-start: 6rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--justWhite);
}

.main-plans-container {
  inline-size: 100%;
  min-inline-size: 32rem;
  padding-block-end: 6rem;
  text-align: center;
}

.plans--title {
  inline-size: 90%;
  min-width: 28rem;
  block-size: auto;
  margin: 0 auto;
  margin-block-start: 6rem;
}

.plans--title h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warmBlack);
}

.plans--title p {
  padding-block-start: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plans-container--slider {
  display: flex;
  gap: .8rem;
  block-size: 31.6rem;
  padding: 0 2rem;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plans-container--slider::-webkit-scrollbar {
  display: none;  /* Ocultar scroll */
}

.plans-card {
  position: relative;
  scroll-snap-align: center;
  inline-size: 70%;
  min-inline-size: 19rem;
  max-inline-size: 30rem;
  block-size: 25rem;
  margin: 5rem 0 0;
  padding: 0 2rem;
  background-color: var(--justWhite);
  border-radius: .8rem;
  box-shadow: var(--shadowWhite);
}

.recommended {
  position: absolute;
  top:  -1.5rem;
  left: calc(50% - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 12rem;
  block-size: 3.1rem;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: var(--justWhite);
  font-weight: bold;
  background-color: var(--bitcoinOrange);
  border-radius: .8rem;
}

.plans-card__info-container > div {
  min-block-size: 15rem;
}

.plans-card__title {
  padding-block-start: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--black);
}

.plans-card__price {
  padding: 1.5rem 0;
  font-family: "Inter", sans-serif;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 0.8;
  color: var(--black);
}

.plans-card__price sup {
  font-size: 1.2rem;
  font-weight: 500;
  vertical-align: 27px;
}

.plans-card__saving {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 500;
  color: #757575;
}

.plans-card__button {
  inline-size: 15rem;
  block-size: 4.8rem;
  margin-block-start: 2rem;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--warmBlack);
  font-weight: bold;
  background-color: var(--offWhite);
  border: 2px solid var(--bitcoinOrange);
  border-radius: .4rem;
}

.plans-card__button span {
  display: inline-block;
  inline-size: 2rem;
  block-size: 2rem;
  vertical-align: text-bottom;
  background-image: url('../assets/icons/orange-right-arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer {
  display: flex;
  inline-size: 100%;
  block-size: 15rem;
  padding: 4rem 2.5rem;
  background-color: var(--bitcoinOrange);
}

.footer__rrss {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 50%;
}

.footer__rrss ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style-type: none;
}

.footer__rrss li {
  margin: 1rem 0;
}

.footer__rrss a {
  text-decoration: none;
  color: var(--justWhite);
}

.footer__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 50%;
}