/*
  1. Position
  2. Box model
  3. Typography
  4. Visual
  5. Other
*/

:root {
  /*Colors*/
  --bitcoinOrange: #F7931A;
  --softOrange: #FFE9D5;
  --secondaryBlue: #1A9AF7;
  --softBlue: #E7F5FF;
  --warmBlack: #201E1C;
  --black: #282623;
  --grey: #BABABA;
  --offWhite: #FAF8F7;
  --justWhite: #FFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: 100%;
  min-inline-size: 32rem;
  block-size: 33.4rem;
  text-align: center;
  background: linear-gradient(
    207.8deg, #201E1C 16.69%,
    #F7931A 100%
  );
}

header img {
  inline-size: 15.1rem;
  block-size: 2.4rem;
  align-self: center;
}

.header__title-container {
  inline-size: 90%;
  min-inline-size: 28.8rem;
  max-inline-size: 90rem;
  margin-block-start: 3rem;
  text-align: center;
  align-self: center;
}

.header__title-container h1 {
  font-size: 2.4rem;
  color: var(--justWhite);
  font-weight: bold;
  line-height: 2.6rem;
}

.header__title-container p {
  margin-block-start: 2.5rem;
  font-size: 1.4rem;
  color: var(--softOrange);
  font-weight: 500;
  line-height: 1.8rem;
}

.header__title-container .header__button {
  position: absolute;
  top: 27rem;
  left: calc(50% - 115px);
  display: block;
  margin-block-start: 3.5rem;
  padding: 1.5rem;
  inline-size: 22.9rem;
  block-size: 4.8rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
  background-color: var(--offWhite);
  /* Shadow */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, .16);
  border: none;
  border-radius: .5rem;
}

.header__button span {
  display: inline-block;
  inline-size: 13px;
  block-size: 8px;
  margin-inline-start: 10px;
  background-image: url('./assets/icons/down-arrow.svg');
}

main {
  inline-size: 100%;
  block-size: auto;
  background-color: var(--offWhite);
}

.main-exchange-container {
  inline-size: 100%;
  block-size: auto;
  padding-block-start: 80px;
  padding-block-end: 30px;
  text-align: center;
}

.main-exchange-container__title {
  inline-size: 90%;
  min-inline-size: 28.8rem;
  max-inline-size: 90rem;
  margin: 0 auto;
}