/*
  1. Position
  2. Box model
  3. Typography
  4. Visual
  5. Other
*/

:root {
  /*Colors*/
  --bitcoinOrange: #F7931A;
  --softOrange: #FFE9D5;
  --secondaryBlue: #1A9AF7;
  --softBlue: #E7F5FF;
  --warmBlack: #201E1C;
  --black: #282623;
  --grey: #BABABA;
  --offWhite: #FAF8F7;
  --justWhite: #FFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: 100%;
  min-inline-size: 32rem;
  block-size: 33.4rem;
  text-align: center;
}

header img {
  inline-size: 15rem;
  block-size: 2.4rem;
  margin-block-start: 6rem;
  align-self: center;
}

.header__title-container {
  inline-size: 90%;
  min-inline-size: 28.8rem;
  max-inline-size: 90rem;
  margin-block-start: 4rem;
  text-align: center;
  align-self: center;
}